<div flex layout="column" class="tree-view">
    <div flex layout="column">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2 flex>{{ $treeViewCtrl.title }}</h2>
                <md-button class="md-icon-button"><md-icon>close</md-icon></md-button>
            </div>
        </md-toolbar>
        <md-content flex>
            <md-list>
                <tree-item-component tree-controller="$treeViewCtrl"
                                     add-sku="$treeViewCtrl.addSku"
                                     item="item"
                                     ng-repeat="item in $treeViewCtrl.tree"></tree-item-component>
            </md-list>
        </md-content>
    </div>

    <div flex="50" layout="column" ng-if="">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h3>
                    <span>Selected SKUs</span>
                </h3>
            </div>
        </md-toolbar>
        <md-content flex>
            <md-list>

            </md-list>
        </md-content>
    </div>

</div>
