<div layout="row" flex style="height: 100vh" ng-cloak>
    <div flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                    <span>Dendogram</span>
                </h3>
            </div>
        </md-toolbar>
        <md-content flex></md-content>
    </div>
    <div flex=20 layout="row">
        <sku-view-component skus="$ctrl.skus"></sku-view-component>
    </div>

    <div flex="30" layout="column">
        <tree-view-component></tree-view-component>
    </div>
</div>
